.radius5{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.radius10{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.radius15{
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}
.radius20{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}

.radius50{
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

.radius100{
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
}
.transition_duration1{
	transition-duration:1s;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
}
.transition_duration2{
	transition-duration:2s;
	-webkit-transition-duration:2s;
	-moz-transition-duration:2s;
	-o-transition-duration:2s;
}
.transition_duration3{
	transition-duration:3s;
	-webkit-transition-duration:3s;
	-moz-transition-duration:3s;
	-o-transition-duration:3s;
}
.transition_duration4{
	transition-duration:4s;
	-webkit-transition-duration:4s;
	-moz-transition-duration:4s;
	-o-transition-duration:4s;
}
.transition_duration5{
	transition-duration:5s;
	-webkit-transition-duration:5s;
	-moz-transition-duration:5s;
	-o-transition-duration:5s;
}
.box_shadow_black{
	box-shadow: 5px 5px 3px #000;
	-webkit-box-shadow: 5px 5px 3px #000;
	-moz-box-shadow: 5px 5px 3px #000;
	-0-box-shadow: 5px 5px 3px #000;
}
.box_shadow_gray{
	box-shadow: 5px 5px 3px #999;
	-webkit-box-shadow: 5px 5px 3px #999;
	-moz-box-shadow: 5px 5px 3px #999;
	-0-box-shadow: 5px 5px 3px #999;
}
