
#slider{
	width: 98%;
	max-height: 300px;
	overflow: hidden;
	border: 5px solid green;
	margin: 0% auto;	
}
#slider .slides{
	width:5120px;
	display:block;	
	min-height: 300px;
	padding: 0px;
	margin: 0px;
}

#slider .slide  img{
	width:25%;
	min-height: 300px;
	float: left;
	list-style-type:none;	
}
#slider p{
	position: absolute;	
	color: white;
	font-size: 200%;
	cursor: pointer;
	background: red;
	padding: 1%;	
	margin:1%;
}